@charset "UTF-8";
/* Colors */
/* Fonts */
/* Font weights */
/* Width px => em */
/* Lists */
/* General */
html {
  font-size: 62.5%; }

body {
  background-color: #FFF;
  color: #222;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.6;
  padding: 0;
  margin: 0; }

html, body, * {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  color: #222;
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* General - TinyMCE */
#wrapper.mce-content-body {
  display: block;
  background: #FFF;
  color: #222; }

/* Helper */
.offscreen,
.invisible {
  position: absolute !important;
  top: -6000px !important;
  left: -6000px !important;
  height: 1px !important;
  width: 1px !important; }

/* Helper - TinyMCE */
#wrapper.mce-content-body .offscreen {
  position: static !important;
  top: auto !important;
  left: auto !important;
  height: auto !important;
  width: auto !important;
  opacity: .2 !important; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/* Layout - Basic */
body,
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

body {
  background-color: #E5EBED; }

.wrapper {
  width: 150.0rem;
  max-width: 100%;
  margin: 0 auto;
  background-color: #FFF;
  box-shadow: 0 0 6px 1px rgba(122, 153, 166, 0.14); }
  @media (min-width: 93.75em) {
    .wrapper {
      max-width: calc(100% - 40px);
      padding: 0 20px; } }

/* Layout - Content */
body:not(.ie) .content-container {
  flex-grow: 1; }

.ie .content-container {
  flex-grow: 1; }

@media (min-width: 62.5em) {
  .content-2-col > .inside {
    display: flex;
    justify-content: space-between; } }

.content-2-col .content-container {
  width: 114.0rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5px; }
  @media (min-width: 25em) {
    .content-2-col .content-container {
      padding: 0 10px; } }
  @media (min-width: 31.25em) {
    .content-2-col .content-container {
      padding: 0 20px; } }
  @media (min-width: 62.5em) {
    .content-2-col .content-container {
      display: flex;
      justify-content: space-between; } }
  @media (min-width: 93.75em) {
    .content-2-col .content-container {
      padding: 0; } }

.content-main {
  margin: 0 0 80px 0; }

.ie11 .content-1-col .content-main > .inside {
  margin: 80px 0 100px 0; }

.content-right {
  margin: 60px 0 800px 0; }

.content-2-col .content-main {
  border-top: 1px solid #D5D5D5;
  margin: 0 0 30px 0; }
  @media (min-width: 62.5em) {
    .content-2-col .content-main {
      width: calc(100% - 300px);
      max-width: 75.0rem; } }
  @media (min-width: 68.75em) {
    .content-2-col .content-main {
      width: calc(100% - 320px); } }
  @media (min-width: 75em) {
    .content-2-col .content-main {
      width: calc(100% - 350px); } }

.content-2-col .content-right {
  margin: 0; }
  @media (min-width: 62.5em) {
    .content-2-col .content-right {
      width: 240px; } }
  @media (min-width: 68.75em) {
    .content-2-col .content-right {
      width: 280px; } }
  @media (min-width: 75em) {
    .content-2-col .content-right {
      width: 300px; } }

/* TinyMCE */
#wrapper.mce-content-body {
  max-width: 660px;
  margin: 0;
  padding: 10px 20px; }

.header > .inside {
  padding: 3px 5px 0 5px; }
  @media (min-width: 25em) {
    .header > .inside {
      padding: 5px 10px 0 10px; } }
  @media (min-width: 31.25em) {
    .header > .inside {
      padding: 5px 20px 0 20px; } }
  @media (min-width: 37.5em) {
    .header > .inside {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      max-width: 114.0rem;
      margin: 0 auto;
      padding: 5px 20px 2px 20px; } }
  @media (min-width: 56.25em) {
    .header > .inside {
      flex-wrap: nowrap; } }
  @media (min-width: 62.5em) {
    .header > .inside {
      padding: 5px 20px 5px 20px; } }
  @media (min-width: 93.75em) {
    .header > .inside {
      padding: 5px 0; } }

.header-logo {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 100%;
  padding-bottom: 4px;
  border-bottom: 1px solid #D5D5D5; }
  @media (min-width: 600px) {
    .header-logo {
      justify-content: center; } }
  @media (min-width: 900px) {
    .header-logo {
      justify-content: flex-start;
      min-width: 0;
      border-bottom: none; } }

.header-logo a {
  display: flex;
  align-items: center;
  flex: 1;
  text-decoration: none; }
  @media (min-width: 600px) {
    .header-logo a {
      justify-content: center; } }
  @media (min-width: 900px) {
    .header-logo a {
      justify-content: flex-start; } }
  .header-logo a:hover, .header-logo a:focus, .header-logo a:active {
    text-decoration: none; }

.header-logo img {
  width: 60px;
  margin-left: -1px; }
  @media (min-width: 31.25em) {
    .header-logo img {
      width: 80px;
      margin-left: -2px; } }
  @media (min-width: 37.5em) {
    .header-logo img {
      width: 85px; } }
  @media (min-width: 56.25em) {
    .header-logo img {
      width: 95px;
      margin-left: -3px; } }
  @media (min-width: 62.5em) {
    .header-logo img {
      width: auto; } }

.header-logo-text {
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 3.0rem;
  padding: .3rem 0 0 5px;
  color: #137B5A; }
  @media (min-width: 22.5em) {
    .header-logo-text {
      font-size: 2.4rem;
      padding: .3rem 0 0 6px; } }
  @media (min-width: 25em) {
    .header-logo-text {
      font-size: 2.4rem;
      padding: .3rem 0 0 6px; } }
  @media (min-width: 31.25em) {
    .header-logo-text {
      font-size: 3.0rem;
      padding: .8rem 0 0 6px; } }
  @media (min-width: 37.5em) {
    .header-logo-text {
      padding: .9rem 0 0 6px; } }
  @media (min-width: 62.5em) {
    .header-logo-text {
      font-size: 3.6rem;
      padding: 1.3rem 0 0 12px; } }

@media (min-width: 900px) {
  .header-navbar-main {
    margin-top: 10px; } }

@media (min-width: 1000px) {
  .header-navbar-main {
    margin-top: 20px; } }

.header-navbar-main .level_1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 3px 0; }
  @media (min-width: 28.125em) {
    .header-navbar-main .level_1 {
      justify-content: center; } }
  @media (min-width: 43.75em) {
    .header-navbar-main .level_1 {
      justify-content: flex-start; } }
  @media (min-width: 56.25em) {
    .header-navbar-main .level_1 {
      padding: 0; } }

.header-navbar-main .level_1 > li {
  font-size: 1.4rem;
  line-height: 2.3rem;
  margin: 0; }
  @media (min-width: 22.5em) {
    .header-navbar-main .level_1 > li {
      font-size: 1.6rem;
      line-height: 2.4rem; } }
  @media (min-width: 25em) {
    .header-navbar-main .level_1 > li {
      font-size: 1.7rem; } }
  @media (min-width: 28.125em) {
    .header-navbar-main .level_1 > li {
      font-size: 1.8rem;
      margin: 0 10px; } }
  @media (min-width: 37.5em) {
    .header-navbar-main .level_1 > li {
      font-size: 1.8rem;
      margin: 0 20px 0 0; } }
  @media (min-width: 62.5em) {
    .header-navbar-main .level_1 > li {
      margin: 0 10px; } }
  .header-navbar-main .level_1 > li + .navbar-button {
    position: absolute;
    top: 13px;
    right: 35px;
    margin: 0 0 0 10px; }
    @media (min-width: 22.5em) {
      .header-navbar-main .level_1 > li + .navbar-button {
        font-size: 1.5rem; } }
    @media (min-width: 25em) {
      .header-navbar-main .level_1 > li + .navbar-button {
        top: 15px;
        right: 40px; } }
    @media (min-width: 31.25em) {
      .header-navbar-main .level_1 > li + .navbar-button {
        font-size: 1.6rem;
        top: 26px;
        right: 52px; } }
    @media (min-width: 37.5em) {
      .header-navbar-main .level_1 > li + .navbar-button {
        position: static;
        margin: 4px 0 0 5px; } }
    @media (min-width: 56.25em) {
      .header-navbar-main .level_1 > li + .navbar-button {
        margin: 0 0 0 18px;
        font-size: 1.7rem; } }

.header-navbar-main li > a,
.header-navbar-main li > strong {
  font-weight: 400;
  display: block;
  padding: .7rem 0;
  text-decoration: none;
  color: #137B5A; }

.header-navbar-main li > a:hover, .header-navbar-main li > a:focus, .header-navbar-main li > a:active {
  text-decoration: underline;
  color: #96234E; }

.header-navbar-main li > a.trail,
.header-navbar-main li > strong {
  color: #96234E;
  font-weight: 700; }

.header-navbar-main li > a.navbar-button,
.header-navbar-main li > strong.navbar-button {
  padding: .1rem 7px .1rem 7px;
  border: 1px solid #137B5A;
  border-radius: 3px; }
  @media (min-width: 37.5em) {
    .header-navbar-main li > a.navbar-button,
    .header-navbar-main li > strong.navbar-button {
      padding: .3rem 7px .3rem 7px; } }
  @media (min-width: 56.25em) {
    .header-navbar-main li > a.navbar-button,
    .header-navbar-main li > strong.navbar-button {
      padding: .7rem 18px .7rem 18px;
      border-radius: 3.2rem; } }

.header-navbar-main li > a.navbar-button:hover, .header-navbar-main li > a.navbar-button:focus, .header-navbar-main li > a.navbar-button:active {
  text-decoration: none;
  color: #FFF;
  border-color: #96234E;
  background-color: #96234E; }

.header-search {
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px 5px 0 20px; }
  .header-search.open {
    width: 100%; }
  @media (min-width: 25em) {
    .header-search {
      padding: 16px 10px 0 20px; } }
  @media (min-width: 31.25em) {
    .header-search {
      padding: 27px 20px 0 20px; } }
  @media (min-width: 37.5em) {
    .header-search {
      position: relative;
      padding: 0; }
      .header-search.open {
        position: absolute;
        top: auto;
        right: 0; } }
  @media (min-width: 56.25em) {
    .header-search {
      padding: 8px 0 0 20px; }
      .header-search.open {
        position: relative;
        top: -15px;
        right: 0;
        width: auto; } }
  @media (min-width: 62.5em) {
    .header-search {
      padding: 20px 0 0 20px; }
      .header-search.open {
        top: 0; } }

.search-button {
  padding: 0;
  border: none;
  background-color: #FFF; }

.search-input {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  width: 100%;
  padding: 11px;
  background-color: #F1F1F1; }
  @media (min-width: 31.25em) {
    .search-input {
      padding: 16px 20px; } }
  @media (min-width: 56.25em) {
    .search-input {
      width: 40.0rem;
      padding: 13px 20px; } }
  .search-input.hidden {
    display: none; }

.search-input label {
  position: absolute !important;
  top: -6000px !important;
  left: -6000px !important;
  height: 1px !important;
  width: 1px !important; }

.search-input input {
  width: 100%;
  padding: .3rem 10px;
  border: 1px solid #137B5A;
  border-radius: 3px; }
  @media (min-width: 31.25em) {
    .search-input input {
      padding: .6rem 10px; } }

.search-cover {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .search-cover.hidden {
    display: none; }

.mod_article.accordion {
  margin-top: 40px;
  margin-bottom: 40px; }

.content-2-col .mod_article.accordion.first {
  margin-top: 0; }

.accordion-item.ce_text {
  max-width: 100%;
  border-top: 1px solid #D5D5D5; }

.accordion-item:last-child {
  border-bottom: 1px solid #D5D5D5; }

.open.accordion-item {
  border-top: 1px solid #FFF; }

.accordion-item-title h2,
.accordion-item-title h3 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  margin: 0; }
  @media (min-width: 37.5em) {
    .accordion-item-title h2,
    .accordion-item-title h3 {
      font-size: 1.9rem;
      line-height: 2.9rem; } }

.open .accordion-item-title h2,
.open .accordion-item-title h3 {
  font-weight: 400; }

.accordion-item-title-link {
  position: relative;
  display: block;
  padding: 1.1rem 10px .9rem 45px;
  text-decoration: none;
  color: #222;
  outline: none; }

.accordion-item-title-link:hover,
.accordion-item-title-link.cursor-over:focus,
.accordion-item-title-link:active {
  text-decoration: underline;
  color: #96234E;
  outline: 0;
  background-color: #F6F6F6; }

.open.accordion-item-title-link,
.open.accordion-item-title-link.cursor-over {
  text-decoration: none;
  color: #FFF;
  border-radius: 1px;
  background-color: #137B5A; }

.open.accordion-item-title-link:hover,
.open.accordion-item-title-link.cursor-over:hover,
.open.accordion-item-title-link.cursor-over:focus,
.open.accordion-item-title-link.cursor-over:active {
  text-decoration: underline; }

.accordion-item-title-link:before {
  position: absolute;
  top: 1.2rem;
  left: 8px;
  display: block;
  width: 28px;
  height: 28px;
  content: " ";
  background-image: url(/files/system/images/icons-accordion.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  /* green down */
  background-size: 84px 56px; }

.accordion-item-title-link:hover:before,
.accordion-item-title-link:focus:before,
.accordion-item-title-link:active:before {
  background-position: -28px 0;
  /* pink down */ }

.open.accordion-item-title-link:before,
.accordion-item-title-link.open:hover:before,
.accordion-item-title-link.open.cursor-over:focus:before,
.accordion-item-title-link.open:active:before {
  background-position: -56px -28px;
  /* white up */ }

.accordion-item-content-inner {
  padding: 32px 30px 20px 45px; }
  .accordion-item-content-inner > :first-child {
    margin-top: 0; }
    .accordion-item-content-inner > :first-child > li:first-child {
      margin-top: 0; }

.accordion-item h3,
.accordion-item h4 {
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin-bottom: 0; }
  @media (min-width: 37.5em) {
    .accordion-item h3,
    .accordion-item h4 {
      font-size: 1.9rem;
      line-height: 2.9rem; } }
  .accordion-item h3 + p,
  .accordion-item h4 + p {
    margin-top: .2rem; }
  .accordion-item h3 + ul,
  .accordion-item h4 + ul {
    margin-top: 0; }

.mod_article {
  width: 114.0rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5px; }
  @media (min-width: 25em) {
    .mod_article {
      padding: 0 10px; } }
  @media (min-width: 31.25em) {
    .mod_article {
      padding: 0 20px; } }
  @media (min-width: 93.75em) {
    .mod_article {
      padding: 0; } }

.content-2-col .mod_article {
  padding: 0; }

@media (min-width: 62.5em) {
  .mod_article.article-cols-2 > .inside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; } }

/* Boxes - General */
.box {
  box-sizing: border-box;
  margin: 6.0rem 0;
  padding: 40px 25px;
  border-radius: 7px; }

.content-right .first .box:first-child {
  margin-top: 0; }

.mod_article.article-cols-2 .box {
  margin: 20px 0; }
  @media (min-width: 62.5em) {
    .mod_article.article-cols-2 .box {
      width: calc((100% - 20px) / 2);
      margin: 10px 0; } }

.box.box-lightblue {
  border: 1px solid #E6F4F7;
  background-color: #E6F4F7; }

.ce_text.box {
  max-width: none; }

.box.box-border {
  border: 1px solid #D5D5D5; }

.box > .text_container {
  width: 58.0rem;
  max-width: 100%;
  margin: 0 auto; }

@media (min-width: 62.5em) {
  .mod_article.article-cols-2 .box > .text_container {
    width: 46.0rem; } }

/* Box - with icon */
.box-icon {
  padding: 30px 10px 40px 30px; }
  @media (min-width: 22.5em) {
    .box-icon {
      padding: 30px 20px 40px 20px; } }
  @media (min-width: 31.25em) {
    .box-icon {
      padding: 30px 30px 50px 30px; } }

.box-icon.ce_text > .image_container.float_above {
  position: relative;
  display: flex;
  width: 165px;
  height: 165px;
  margin: 0 auto;
  border-radius: 100%;
  background-color: #FFF; }

.box-icon.ce_text > .image_container.float_above:before {
  position: absolute;
  top: 8px;
  left: 8px;
  display: block;
  width: 147px;
  height: 147px;
  content: "";
  border: 1px solid #D5D5D5;
  border-radius: 100%; }

.box-icon.ce_text > .image_container {
  display: flex;
  align-items: center;
  justify-content: center; }

.box.box-icon.ce_text .text_container h2 {
  margin-top: 1.8rem; }

/* Box - with round foto */
.box.box-foto {
  padding: 15px 15px 20px 15px;
  border: 1px solid #D5D5D5; }

.box.box-foto .image_container.float_above {
  overflow: hidden;
  margin: 0 0 1.0rem 0;
  border-radius: 100%; }

.box.box-foto .text_container h2 {
  margin: 1.8rem 0 .6rem 0; }

.box-foto h2 a {
  text-decoration: none; }
  .box-foto h2 a:hover, .box-foto h2 a:focus, .box-foto h2 a:active {
    text-decoration: underline; }

.box.box-foto h2 + p {
  margin: 0; }

/* Boxes - Typography */
.content-main .box h2,
.content-main .box h3 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.4rem;
  margin-top: 0;
  margin-bottom: 2.0rem;
  text-align: center; }

.content-right .box h2 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin-top: 0;
  margin-bottom: 2.0rem; }

.box > .text_container p {
  margin: 2.0rem 0; }

.box > .text_container > :first-child {
  margin-top: 0; }

.box > .text_container > :last-child {
  margin-bottom: 0; }

.mod_breadcrumb {
  position: relative;
  padding: 5px; }
  @media (min-width: 25em) {
    .mod_breadcrumb {
      padding: 2px 10px 10px 10px; } }
  @media (min-width: 31.25em) {
    .mod_breadcrumb {
      padding: 2px 20px 10px 20px; } }
  @media (min-width: 62.5em) {
    .mod_breadcrumb {
      width: 100%;
      max-width: 114.0rem;
      margin: 0 auto;
      padding: 2px 20px 20px 20px; } }
  @media (min-width: 93.75em) {
    .mod_breadcrumb {
      padding-right: 0;
      padding-left: 0; } }

.mod_breadcrumb p {
  font-size: 1.6rem;
  line-height: 2.1rem;
  margin: 0;
  color: #555; }
  @media (min-width: 25em) {
    .mod_breadcrumb p {
      font-size: 1.8rem;
      line-height: 2.5rem; } }

.mod_breadcrumb a,
.mod_breadcrumb strong {
  font-weight: 400;
  text-decoration: none;
  color: #555; }

.mod_breadcrumb strong {
  position: absolute !important;
  top: -6000px !important;
  left: -6000px !important;
  height: 1px !important;
  width: 1px !important; }

/* Basic */
input, button, select, textarea {
  font: inherit;
  margin: 0; }
  input:hover, input:focus, input:active, button:hover, button:focus, button:active, select:hover, select:focus, select:active, textarea:hover, textarea:focus, textarea:active {
    outline: none; }

input[type="text"],
input[type="submit"],
input[type="password"],
textarea {
  -webkit-appearance: none; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

button:hover, button:focus, button:active {
  outline: none; }

.content .widget {
  font-size: 1.7rem;
  line-height: 2.3rem;
  margin: 0 0 1.0rem 0; }

.content .widget .text,
.content .widget select,
.content .widget .textarea {
  font-size: 1.7rem;
  line-height: 2.3rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: .7rem 7px;
  color: #000;
  border: 1px solid #D5D5D5;
  border-radius: 3px;
  background-color: #FFF; }
  .content .widget .text:hover, .content .widget .text:focus, .content .widget .text:active,
  .content .widget select:hover,
  .content .widget select:focus,
  .content .widget select:active,
  .content .widget .textarea:hover,
  .content .widget .textarea:focus,
  .content .widget .textarea:active {
    background-color: #F6F6F6; }

.button-submit {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.4rem;
  display: inline-block;
  margin: 0;
  padding: .3rem 10px .5rem 10px;
  color: #FFF;
  border: 1px solid #222;
  border-radius: 3px;
  background-color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .button-submit:hover, .button-submit:focus, .button-submit:active {
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
    border-color: #0F69A0;
    background-color: #0F69A0; }

.content .widget.error label {
  color: #CF0015; }

.content .widget.error .text,
.content .widget.error .text,
.content .widget.error .textarea {
  border-color: #CF0015; }

.content .widget.error p.error {
  font-size: 1.4rem;
  margin: 0;
  color: #CF0015; }

/* Placeholder */
::-webkit-input-placeholder {
  /* Chrome */
  color: #455761; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #455761; }

::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
  color: #455761; }

:-moz-placeholder {
  /* Firefox 4 - 18 */
  opacity: 1;
  color: #455761; }

::-ms-input-placeholder {
  /* Edge */
  color: #455761; }

:hover::-webkit-input-placeholder,
:focus::-webkit-input-placeholder,
:active::-webkit-input-placeholder {
  /* Chrome */
  color: rgba(69, 87, 97, 0.6); }

:hover:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(69, 87, 97, 0.6); }

:hover::-moz-placeholder,
:focus::-moz-placeholder,
:active::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
  color: rgba(69, 87, 97, 0.6); }

:hover:-moz-placeholder {
  /* Firefox 4 - 18 */
  opacity: 1;
  color: rgba(69, 87, 97, 0.6); }

:hover::-ms-input-placeholder {
  /* Edge */
  color: rgba(69, 87, 97, 0.6); }

/* Images - Basic */
.ce_image {
  max-width: 72.0rem; }
  @media (max-width: 50em) {
    .ce_image {
      margin: 0 auto; } }

.image_container > a {
  position: relative;
  display: block; }

/* Inactive start */
.img-border > .image_container > img {
  max-width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1); }

/* Inactive end */
/* Images - Position left or right */
@media (min-width: 50em) {
  .ce_text .image_container.float_left,
  .ce_text .image_container.float_right,
  .ce_text .image_container.float_left_col,
  .ce_text .image_container.float_right_col {
    display: table;
    float: left;
    margin: .8rem 25px 1.8rem 0; }
  .ce_text .image_container.float_right,
  .ce_text .image_container.float_right_col {
    float: right;
    margin: .8rem 0 1.8rem 25px; } }

.ce_text .image_container.float_left img,
.ce_text .image_container.float_left_col img,
.ce_text .image_container.float_right img,
.ce_text .image_container.float_right_col img {
  display: block; }

.image_container.float_left_col + .text_container,
.image_container.float_right_col + .text_container {
  overflow: auto; }

.image_container.float_left + .text_container:after,
.image_container.float_right + .text_container:after {
  display: table;
  clear: both;
  content: " "; }

.image_container.float_right + .text_container > :first-child,
.image_container.float_left + .text_container > :first-child,
.image_container.float_right_col + .text_container > :first-child,
.image_container.float_left_col + .text_container > :first-child {
  margin-top: 0; }

.image_container.float_right + .text_container > :last-child {
  margin-bottom: 0; }

.image_container.float_left + .text_container > ul {
  overflow: auto; }

.ce_text > h2 + .float_left + .text_container *:first-child,
.ce_text > h3 + .float_left + .text_container *:first-child,
.ce_text > h4 + .float_left + .text_container *:first-child,
.ce_text > h2 + .float_right + .text_container *:first-child,
.ce_text > h3 + .float_right + .text_container *:first-child,
.ce_text > h4 + .float_right + .text_container *:first-child,
.ce_text > h2 + .float_left_col + .text_container *:first-child,
.ce_text > h3 + .float_left_col + .text_container *:first-child,
.ce_text > h4 + .float_left_col + .text_container *:first-child,
.ce_text > h2 + .float_right_col + .text_container *:first-child,
.ce_text > h3 + .float_right_col + .text_container *:first-child,
.ce_text > h4 + .float_right_col + .text_container *:first-child {
  margin-top: 0; }

/* Images - Position above */
.ce_text .image_container.float_above {
  margin: 0 0 3.0rem 0; }

/* Caption and copyright */
.image_container .p-caption {
  margin: 0;
  padding: 1.0rem 0 0 0; }

.image_container.float_left .p-caption,
.image_container.float_left_col .p-caption,
.image_container.float_right .p-caption,
.image_container.float_right_col .p-caption {
  display: table-caption;
  caption-side: bottom; }

.image_container .p-caption a {
  text-decoration: none;
  color: #555; }

.image_container .p-caption:hover a,
.image_container .p-caption:focus a,
.image_container .p-caption:active a {
  text-decoration: underline;
  color: #96234E; }

.content-intro .mod_article {
  width: 100%;
  padding: 0; }

.content-intro .ce_text,
.content-intro .ce_headline {
  position: relative;
  display: flex;
  width: 100%;
  max-width: none;
  color: #FFF;
  background-image: url(/files/content/images/background/bg-forest.jpg);
  background-repeat: no-repeat;
  background-position: center 35%;
  background-size: cover; }

.content-intro .ce_text {
  min-height: 30.0rem;
  padding: 3.5rem 0 2.0rem 0; }
  @media (min-width: 25em) {
    .content-intro .ce_text {
      min-height: 47.0rem;
      padding: 11.0rem 0; } }

.content-intro .ce_headline {
  min-height: 11.0rem;
  padding: 4.0rem 0 0 0; }
  @media (min-width: 25em) {
    .content-intro .ce_headline {
      min-height: 13.0rem; } }
  @media (min-width: 28.125em) {
    .content-intro .ce_headline {
      min-height: 15.0rem;
      padding: 5.0rem 0 0 0; } }
  @media (min-width: 31.25em) {
    .content-intro .ce_headline {
      min-height: 17.0rem; } }
  @media (min-width: 34.375em) {
    .content-intro .ce_headline {
      min-height: 19.0rem;
      padding: 5.5rem 0 0 0; } }
  @media (min-width: 37.5em) {
    .content-intro .ce_headline {
      min-height: 21.0rem;
      padding: 2.5rem 0 0 0; } }
  @media (min-width: 62.5em) {
    .content-intro .ce_headline {
      min-height: 22.0rem; } }
  @media (min-width: 68.75em) {
    .content-intro .ce_headline {
      padding: 0 0 1.0rem 0; } }
  @media (min-width: 75em) {
    .content-intro .ce_headline {
      min-height: 23.0rem;
      padding: 0 0 2.0rem 0; } }
  @media (min-width: 78.125em) {
    .content-intro .ce_headline {
      min-height: 25.0rem; } }
  @media (min-width: 84.375em) {
    .content-intro .ce_headline {
      min-height: 27.0rem; } }

.content-intro .ce_text:after,
.content-intro .ce_headline:after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: " ";
  background-image: url(/files/content/images/background/bg-wave.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% auto; }

.intro-bg.ce_text .text_container,
.intro-bg.ce_headline h1 {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  width: 100%; }

.content-intro .ce_text .text_container {
  align-items: center;
  max-width: 950px;
  margin: 0 auto; }

.content-intro .ce_text p,
.content-intro .ce_headline h1 {
  text-shadow: 1px 3px 5px rgba(7, 48, 55, 0.15); }

.content-intro .ce_text p {
  padding: 0 5px;
  text-align: center; }

.intro-bg.ce_headline h1 {
  font-size: 2.6rem;
  font-weight: 600;
  padding: 0 5px; }
  @media (min-width: 25em) {
    .intro-bg.ce_headline h1 {
      font-size: 3.2rem;
      padding: 0 10px; } }
  @media (min-width: 31.25em) {
    .intro-bg.ce_headline h1 {
      font-size: 3.8rem;
      padding: 0 20px; } }
  @media (min-width: 37.5em) {
    .intro-bg.ce_headline h1 {
      font-size: 4.4rem;
      width: 114.0rem;
      max-width: 100%;
      margin: 0 auto; } }
  @media (min-width: 93.75em) {
    .intro-bg.ce_headline h1 {
      padding: 0; } }

.p-intro-small-text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem;
  margin: 0 0 1.0rem 0; }
  @media (min-width: 25em) {
    .p-intro-small-text {
      font-size: 3.2rem;
      font-weight: 600;
      line-height: 4.4rem; } }

.p-intro-large-text {
  font-size: 3.0rem;
  font-weight: 600;
  line-height: 3.9rem;
  margin: 0; }
  @media (min-width: 25em) {
    .p-intro-large-text {
      font-size: 5.8rem;
      line-height: 7.0rem; } }

.navbar-submenu + .navbar-single-link {
  margin-top: -25px; }

.navbar-single-link ul {
  margin: 0 0 80px 0; }

.navbar-single-link li {
  font-size: 2.0rem;
  font-weight: 400; }

.navbar-single-link a {
  text-decoration: none;
  color: #555; }
  .navbar-single-link a:hover, .navbar-single-link a:focus, .navbar-single-link a:active {
    text-decoration: underline;
    color: #96234E; }

.navbar-submenu h2 {
  font-size: 2.0rem;
  font-weight: 400;
  margin: 2.9rem 0 .8rem 0;
  color: #555; }

.navbar-submenu ul {
  margin: 0 0 50px 0; }

.content-main .navbar-submenu ul {
  margin-top: 40px;
  margin-bottom: 40px; }

.navbar-submenu li {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin: 0;
  border-top: 1px solid #D5D5D5; }
  @media (min-width: 37.5em) {
    .navbar-submenu li {
      font-size: 1.9rem;
      line-height: 2.9rem; } }
  .navbar-submenu li:last-child {
    border-bottom: 1px solid #D5D5D5; }

.content-right .navbar-submenu li {
  font-size: 1.7rem;
  line-height: 2.4rem; }

.navbar-submenu li > a,
.navbar-submenu li > strong {
  display: block;
  padding: 1.2rem 0 .9rem 0; }

.navbar-submenu li > a {
  text-decoration: none;
  color: #137B5A; }
  .navbar-submenu li > a:visited {
    color: #137B5A; }
  .navbar-submenu li > a:hover, .navbar-submenu li > a:focus, .navbar-submenu li > a:active {
    text-decoration: underline;
    color: #96234E; }

.navbar-submenu li > strong,
.navbar-submenu li.trail > a {
  font-weight: 700;
  color: #96234E; }

.navbar-tabbed-menu ul {
  display: flex;
  margin: 0 0 50px 0;
  padding: 2.8rem 4px 0 4px;
  border-bottom: 1px solid #B1B1B1; }

.navbar-tabbed-menu li {
  font-size: 1.8rem;
  line-height: 2.5rem;
  width: calc((100% - 15px) / 3);
  margin: 0 2px 0 3px;
  border: 1px solid #D5D5D5;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #FFF; }
  @media (min-width: 400px) {
    .navbar-tabbed-menu li {
      width: auto; } }
  .navbar-tabbed-menu li.active {
    position: relative;
    top: 0;
    bottom: -1px;
    margin-bottom: -1px;
    padding-bottom: 1px;
    border-color: #B1B1B1; }

.navbar-tabbed-menu li > a,
.navbar-tabbed-menu li > strong {
  display: block;
  width: 100%;
  padding: .9rem 5px .7rem 5px;
  text-align: center; }
  @media (min-width: 400px) {
    .navbar-tabbed-menu li > a,
    .navbar-tabbed-menu li > strong {
      padding: .9rem 15px .7rem 15px;
      width: 11.0rem; } }

.navbar-tabbed-menu li > a {
  text-decoration: none;
  color: #444; }
  .navbar-tabbed-menu li > a:hover, .navbar-tabbed-menu li > a:focus, .navbar-tabbed-menu li > a:active {
    text-decoration: underline;
    color: #96234E; }

.navbar-tabbed-menu li > strong {
  font-weight: 700;
  color: #96234E; }

.navbar-thumbnails h2 {
  font-size: 2.0rem;
  font-weight: 400;
  margin: 2.9rem 0 .8rem 0;
  color: #555; }

.ul-navbar-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0; }

.ul-navbar-thumbnails > li {
  font-size: 1.7rem;
  font-weight: 600;
  width: calc((100% - 5px) / 2);
  margin: 0 0 .6rem 0; }
  @media (min-width: 25em) {
    .ul-navbar-thumbnails > li {
      width: calc((100% - 10px) / 2); } }
  @media (min-width: 28.125em) {
    .ul-navbar-thumbnails > li {
      width: calc((100% - 10px) / 3); } }
  @media (min-width: 31.25em) {
    .ul-navbar-thumbnails > li {
      width: calc((100% - 20px) / 3); } }
  @media (min-width: 50em) {
    .ul-navbar-thumbnails > li {
      font-size: 1.9rem;
      width: calc((100% - 30px) / 3);
      margin: 0 0 1.2rem 0; } }

.ul-navbar-thumbnails > li a {
  display: block;
  text-decoration: none;
  color: #137B5A;
  background-repeat: no-repeat;
  background-size: 100% auto; }
  .ul-navbar-thumbnails > li a:hover, .ul-navbar-thumbnails > li a:focus, .ul-navbar-thumbnails > li a:active {
    text-decoration: underline;
    color: #96234E; }

.ul-navbar-thumbnails .navbar-thumbnails-item-image img {
  display: block;
  width: 100%;
  height: auto; }

.ul-navbar-thumbnails .navbar-thumbnails-item-text {
  display: block;
  padding: .4rem 0; }
  @media (min-width: 50em) {
    .ul-navbar-thumbnails .navbar-thumbnails-item-text {
      padding: .6rem 0; } }

.news-full-title {
  font-size: 2.8rem;
  line-height: 3.8rem;
  margin-bottom: 0; }

.news-full-date {
  font-size: 1.8rem;
  color: #555;
  margin: .5rem 0 3.0rem 0; }

.news-list-ul {
  margin: 30px 0 30px 0;
  list-style: none;
  border-bottom: 1px solid #D5D5D5; }

.content-2-col .news-list-ul {
  margin-top: 0; }

.news-list-item {
  margin: 0;
  padding: 15px 0 13px 0;
  border-top: 1px solid #D5D5D5; }
  @media (min-width: 37.5em) {
    .news-list-item {
      display: flex; } }
  .news-list-item:hover, .news-list-item:focus, .news-list-item:active {
    background-color: #F6F6F6; }

.news-list-item-date {
  display: block;
  font-size: 1.7rem; }

.news-list-item-title {
  display: block;
  font-weight: 400;
  flex: 1; }
  @media (min-width: 37.5em) {
    .news-list-item-title {
      margin: 0 30px; } }

.news-list-item-title a {
  display: block;
  text-decoration: none; }
  .news-list-item-title a:hover, .news-list-item-title a:focus, .news-list-item-title a:active {
    text-decoration: underline; }

/* Pagination */
.pagination {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #D5D5D5; }

.pagination-total {
  margin: 15px 30px 30px 0;
  padding: 4px 0; }

.pagination-links {
  margin: 15px 30px 30px 30px; }

.pagination-link a {
  display: inline-block;
  padding: 4px 10px;
  text-decoration: none; }

.pagination-link-active {
  padding: 4px 10px;
  color: #FFF;
  border-radius: 3px;
  background-color: #96234E; }

.pagination-previous-next {
  margin: 15px 0 30px 30px;
  padding: 4px 0; }

.pagination-next {
  margin-left: 10px; }

.list-search-result-item {
  padding: 35px 0 32px 0;
  border-top: 1px solid #D5D5D5;
  margin: 0; }

.list-search-result-item a {
  text-decoration: none; }
  .list-search-result-item a:hover, .list-search-result-item a:focus, .list-search-result-item a:active {
    text-decoration: none; }

.list-search-result-title {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3.2rem;
  margin: 0; }

.list-search-result-url {
  font-size: 1.6rem;
  line-height: 2.3rem;
  margin: .1rem 0 0;
  color: #666; }

a:hover .list-search-result-title,
a:focus .list-search-result-title,
a:active .list-search-result-title {
  text-decoration: underline; }

.list-search-result-context {
  margin: 2.2rem 0 0 0; }

.list-search-result-context mark {
  font-weight: 400;
  padding: 0 5px;
  color: #000;
  border-radius: 2px;
  background-color: #E6F4F7; }

.intro-bg + .social-media {
  position: relative;
  margin-top: -5px;
  padding: 0 5px; }
  @media (min-width: 25em) {
    .intro-bg + .social-media {
      padding: 0 10px; } }
  @media (min-width: 31.25em) {
    .intro-bg + .social-media {
      padding: 0 20px; } }
  @media (min-width: 62.5em) {
    .intro-bg + .social-media {
      width: 100%;
      max-width: 114.0rem;
      margin: -20px auto 0 auto; } }
  @media (min-width: 75em) {
    .intro-bg + .social-media {
      margin-top: -35px; } }
  @media (min-width: 81.25em) {
    .intro-bg + .social-media {
      margin-top: -40px; } }
  @media (min-width: 84.375em) {
    .intro-bg + .social-media {
      margin-top: -55px; } }
  @media (min-width: 93.75em) {
    .intro-bg + .social-media {
      padding: 0; } }

.social-media-ul {
  display: flex;
  margin: 0; }

.social-media-item {
  margin: 0 8px 0 0; }
  @media (min-width: 31.25em) {
    .social-media-item {
      margin: 0 12px 0 0; } }

.social-media #icon-sm-facebook path,
.social-media #icon-sm-instagram path {
  fill: #137B5A; }

.social-media a:hover #icon-sm-facebook path,
.social-media a:hover #icon-sm-instagram path,
.social-media a:focus #icon-sm-facebook path,
.social-media a:focus #icon-sm-instagram path,
.social-media a:active #icon-sm-facebook path,
.social-media a:active #icon-sm-instagram path {
  fill: #96234E; }

/* Text */
.ce_text {
  max-width: 75.0rem; }

.ce_text.line-top {
  padding-top: 2.5rem;
  border-top: 1px solid #D5D5D5;
  margin-top: 5.0rem; }

/* Headlines */
h1 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 4.4rem;
  margin: 0 0 2.8rem 0; }
  @media (min-width: 31.25em) {
    h1 {
      font-size: 4.4rem;
      line-height: 5.4rem; } }

h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.4rem;
  margin-top: 5.0rem;
  margin-bottom: 2.0rem; }
  h2 + p,
  h2 + .text_container p:first-child {
    margin-top: -.4rem; }

h3 {
  font-size: 2.0rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin-top: 4.0rem;
  margin-bottom: 0; }
  h3 + p {
    margin-top: 1.0rem; }
  h3 + ul {
    margin-top: 1.0; }
  h3 + ul .li-spacing-0:first-child {
    margin-top: 0; }

h4 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.7rem;
  margin-top: 2.0rem;
  margin-bottom: 1.0rem; }

h5,
h6 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.7rem;
  margin-top: 1.8rem;
  margin-bottom: 0; }

/* Line */
.line-top {
  clear: both;
  margin-top: 5.0rem;
  border-top: 1px solid #D5D5D5;
  padding-top: 2.0rem; }

.line-bottom {
  margin-bottom: 3.0rem;
  padding-bottom: 3.0rem;
  border-bottom: 1px solid #D5D5D5; }

/* Link - Basic */
a {
  color: #96234E; }

a:hover,
a:focus,
a:active {
  text-decoration: underline;
  outline: none; }

a[href^='tel'] {
  text-decoration: none; }

a[href^='tel']:hover,
a[href^='tel']:focus,
a[href^='tel']:active {
  text-decoration: underline; }

/* Link – Content */
/* Link - Button */
.button {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: .5rem 14px .7rem 14px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  border: 1px solid #96234E;
  border-radius: 3px;
  background-color: #96234E;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.button:hover,
.button:focus,
.button:active {
  text-decoration: none;
  color: #FFF;
  border-color: #137B5A;
  background-color: #137B5A; }

.button.button-border.button-border-white {
  color: #FFF;
  border: 1px solid #FFF;
  background-color: transparent; }
  .button.button-border.button-border-white:hover, .button.button-border.button-border-white:focus, .button.button-border.button-border-white:active {
    border-color: #96234E;
    background-color: #96234E; }

/* Back-Link */
p.back {
  margin-top: 5.0rem;
  padding-top: 3.0rem;
  border-top: 1px solid #D5D5D5; }

/* List */
ul,
ol {
  margin: 2.0rem 0;
  padding: 0; }

ul {
  list-style: none; }

li {
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin: 2.0rem 0; }
  @media (min-width: 37.5em) {
    li {
      font-size: 1.9rem;
      line-height: 2.9rem; } }

.ce_text li,
#wrapper.mce-content-body li {
  position: relative;
  padding-left: 2.0rem; }

.ce_text .li-no-bullet,
#wrapper.mce-content-body .li-no-bullet {
  padding-left: 0; }

.ce_text li:before,
#wrapper.mce-content-body li:before {
  font-size: 2.1rem;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  content: "•";
  color: #137B5A; }

.ce_text .li-no-bullet:before,
#wrapper.mce-content-body .li-no-bullet:before {
  content: none; }

.ce_text ol > li,
#wrapper.mce-content-body ol > li {
  margin-left: 1.8rem;
  padding-left: 8px; }

.ce_text ol > li > ol[type='a'] > li,
#wrapper.mce-content-body ol > li > ol[type='a'] > li {
  padding-left: 4px; }

.li-spacing-0 {
  margin: 0; }
  .li-spacing-0 > ul,
  .li-spacing-0 > ol {
    margin-top: 0; }

.li-spacing-small,
#wrapper.mce-content-body .li-spacing-small {
  margin: .4rem 0; }

abbr {
  text-decoration: none; }

/* Paragraph */
p {
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin: 2.0rem 0; }
  @media (min-width: 37.5em) {
    p {
      font-size: 1.9rem;
      line-height: 2.9rem; } }

.content-2-col .mod_article.first .ce_text.first:not(.box) p:first-child {
  margin-top: 50px; }

.p-centered {
  text-align: center; }

.p-small-grey {
  font-size: 1.7rem;
  color: #555;
  line-height: 2.4rem;
  margin: 0; }
  .p-small-grey + p {
    margin-top: 1.0rem; }

.p-caption,
.p-copyright {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.7rem;
  margin: 3.5rem 0 3.5rem 0;
  color: #555; }

/* Spacing */
.abstand-oben-0 {
  margin-top: 0 !important; }

.abstand-oben-10 {
  margin-top: 1.0rem !important; }

.abstand-oben-20 {
  margin-top: 2.0rem !important; }

.abstand-oben-30 {
  margin-top: 3.0rem !important; }

.abstand-oben-40 {
  margin-top: 4.0rem !important; }

.abstand-oben-50 {
  margin-top: 5.0rem !important; }

.abstand-unten-0 {
  margin-bottom: 0 !important; }

.abstand-unten-10 {
  margin-bottom: 1.0rem !important; }

.abstand-unten-20 {
  margin-bottom: 2.0rem !important; }

.abstand-unten-30 {
  margin-bottom: 3.0rem !important; }

.abstand-unten-40 {
  margin-bottom: 4.0rem !important; }

.abstand-unten-50 {
  margin-bottom: 5.0rem !important; }

.footer > .inside {
  padding: 10px; }
  @media (min-width: 25em) {
    .footer > .inside {
      padding: 32px 20px 30px 20px;
      margin-top: 80px; } }
  @media (min-width: 62.5em) {
    .footer > .inside {
      width: 100%;
      max-width: 114.0rem;
      margin: 0 auto; } }
  @media (min-width: 93.75em) {
    .footer > .inside {
      padding-left: 0;
      padding-right: 0; } }

.footer-sponsors {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid #D5D5D5; }

.footer-sponsors-title {
  font-size: 2.2rem;
  line-height: 2.4rem;
  width: 100%;
  text-align: center;
  color: #137B5A; }

.footer-sponsors-item {
  display: flex;
  align-items: center; }

.footer-sponsors-item-text {
  font-size: 1.6rem;
  line-height: 2.2rem;
  width: 21.0rem;
  color: #555;
  margin: 0; }

/* Legal */
.footer-navbar-legal {
  display: flex; }

.footer-navbar-legal ul {
  margin: 0;
  padding: 0; }
  @media (min-width: 31.25em) {
    .footer-navbar-legal ul {
      display: flex; } }

.footer-navbar-legal ul li {
  font-size: 1.8rem;
  line-height: 2.4rem; }
  @media (min-width: 31.25em) {
    .footer-navbar-legal ul li {
      margin: 0 20px; } }
  @media (min-width: 1000px) {
    .footer-navbar-legal ul li {
      margin: 0 20px 0 0; } }

.footer-navbar-legal a {
  color: #137B5A;
  text-decoration: none; }
  .footer-navbar-legal a:hover, .footer-navbar-legal a:focus, .footer-navbar-legal a:active {
    text-decoration: underline;
    color: #96234E; }

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;
  width: 15%;
  margin: 0 auto; }

.footer-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex; }
  .footer-social ul li {
    margin: 0; }
  .footer-social ul a {
    text-decoration: none; }

.footer-social .footer-social-item {
  display: flex;
  margin: 0 4px; }
  .footer-social .footer-social-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.4rem;
    height: 4.4rem;
    border: 1px solid #FFF;
    border-radius: 100%; }
    .footer-social .footer-social-item a #icon {
      fill: #FFF; }
    .footer-social .footer-social-item a:hover, .footer-social .footer-social-item a:focus, .footer-social .footer-social-item a:active {
      background-color: #96234E;
      border-color: #96234E; }
